// Font variables
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Manrope', sans-serif;
$font-tertiary: 'Mulish', sans-serif;

// Font weights
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;




// Color variables
$primary-color: #DE344B;
$accent-light: #FFF6F6;
$dark: #2A2A2A;
$dark-text: #2F1C1F;
$light-text: #8B8B8B;
$dark-2: #5F4E4E;
$green: #53C050;
